@font-face {
  font-family: 'Pretendard-Light';
  src: url('/public/assets/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/public/assets/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: swap;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/public/assets/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/public/assets/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
